button {
  cursor: pointer;
  background-color: rgba(44, 44, 44, 0.8);
  color: #cfcfcf;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  padding: 0.4em 1.3em;
  border: none;
  -webkit-box-shadow: inset 0 0 2px #000;
  -moz-box-shadow: inset 0 0 2px #000;
}
button:hover {
  background-color: rgba(99, 99, 99, 0.8);
}
button:active {
  background-color: rgba(22, 22, 22, 0.8);
}
button:focus {
  outline: none;
  box-shadow: 0 0 16px #0af, inset 0 0 2px #000;
  -webkit-box-shadow: 0 0 16px #0af, inset 0 0 2px #000;
  -moz-box-shadow: 0 0 16px #0af, inset 0 0 2px #000;
}

button {
  background: -webkit-linear-gradient(rgba(44, 44, 44, 0.8),
                                      rgba(22, 22, 22, 0.8));
  background: -moz-linear-gradient(-90deg, 
                                   rgba(44, 44, 44, 0.8),
                                   rgba(22, 22, 22, 0.8));
}
button:hover {
  background: -webkit-linear-gradient(rgba(77, 77, 77, 0.8),
                                      rgba(44, 44, 44, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(77, 77, 77, 0.8),
                                   rgba(44, 44, 44, 0.8));
}
button:active {
  background: -webkit-linear-gradient(rgba(22, 22, 22, 0.8),
                                      rgba(44, 44, 44, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(22, 22, 22, 0.8),
                                   rgba(44, 44, 44, 0.8));
}

button[type=submit] {
  background: rgba(0, 222, 0, 0.8);
  color: #fff;
  background: -webkit-linear-gradient(rgba(44, 255, 44, 0.8),
                                      rgba(0, 200, 0, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(44, 255, 44, 0.8),
                                   rgba(0, 200, 0, 0.8));
}
button[type=submit]:hover {
  background: -webkit-linear-gradient(rgba(77, 255, 77, 0.8),
                                      rgba(0, 255, 0, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(77, 255, 77, 0.8),
                                   rgba(0, 255, 0, 0.8));
}
button[type=submit]:active {
  background: -webkit-gradient(linear, left top, left bottom,
      from(rgba(0, 200, 0, 0.8)), to(rgba(44, 255, 44, 0.8)));
  background: -moz-linear-gradient(-90deg,
      rgba(0, 200, 0, 0.8), rgba(44, 255, 44, 0.8));
}
button[type=cancel],
button[type=delete] {
  background: rgba(222, 0, 0, 0.8);
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom,
      from(rgba(255, 44, 44, 0.8)), to(rgba(200, 0, 0, 0.8)));
  background: -moz-linear-gradient(-90deg,
      rgba(255, 44, 44, 0.8), rgba(200, 0, 0, 0.8));
}
button[type=cancel]:hover,
button[type=delete]:hover {
  background: -webkit-gradient(linear, left top, left bottom,
      from(rgba(255, 77, 77, 0.8)), to(rgba(255, 0, 0, 0.8)));
  background: -moz-linear-gradient(-90deg,
      rgba(255, 77, 77, 0.8), rgba(255, 0, 0, 0.8));
}
button[type=cancel]:active,
button[type=delete]:active {
  background: -webkit-linear-gradient(rgba(200, 0, 0, 0.8),
                                      rgba(255, 44, 44, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(200, 0, 0, 0.8),
                                   rgba(255, 44, 44, 0.8));
}
button[type=special] {
  background: rgba(0, 0, 222, 0.8);
  color: #fff;
  background: -webkit-linear-gradient(rgba(44, 44, 255, 0.8),
                                      rgba(0, 0, 200, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(44, 44, 255, 0.8),
                                   rgba(0, 0, 200, 0.8));
}
button[type=special]:hover {
  background: -webkit-linear-gradient(rgba(77, 77, 255, 0.8),
                                      rgba(0, 0, 255, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(77, 77, 255, 0.8),
                                   rgba(0, 0, 255, 0.8));
}
button[type=special]:active {
  background: -webkit-linear-gradient(rgba(0, 0, 200, 0.8),
                                      rgba(44, 44, 255, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(0, 0, 200, 0.8),
                                   rgba(44, 44, 255, 0.8));
}
button.disabled,
button.disabled:hover,
button.disabled:active {
  cursor: default;
  background: rgba(64, 64, 64, 0.8);
  background: -webkit-lienar-gradient(rgba(128, 128, 128, 0.8),
                                      rgba(64, 64, 64, 0.8));
  background: -moz-linear-gradient(-90deg,
                                   rgba(128, 128, 128, 0.8),
                                   rgba(64, 64, 64, 0.8));
}