input {
    cursor: text;
    background-color: #FFF;
    color: #000;
    border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    padding: 0.4em 2em 0.4em 0.75em;
    border: 1px solid #CCC;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
}

input:hover {
    box-shadow: 0 0 16px #fff;
    -webkit-box-shadow: 0 0 16px #fff;
    -moz-box-shadow: 0 0 16px #fff;
}
input:focus {
    outline: none;
    box-shadow: 0 0 16px #0af;
    -webkit-box-shadow: 0 0 16px #0af;
    -moz-box-shadow: 0 0 16px #0af;
}

input:disabled {
    background-color: #888;
    border-color: #888;
}
input:disabled:hover {
    cursor: default;
    background-color: rgba(44, 44, 44, 0.8);
}