@font-face{
    font-family: "MEgalopolis Extra";
    src: url('../fonts/MEgalopolisExtra.otf');
}

@font-face{
    font-family: "Army";
    src: url('../fonts/Army.ttf');
}

body {
    background-color: white;
    margin:0;
    height: 100%;
    left: 0; right:0; top:0;
    background: url('../images/bk_stripe.png');
}

.overlay {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#login {
    position: absolute;
    width: 640px;
    left: 50%;
    margin-left: -320px;
    
    height: 360px;
    top: 50%;
    margin-top: -180px;

    border: 4px solid white;
    border-radius: 15px;
    -moz-border-radius: 15px;
    
    -webkit-box-shadow: inset 0 0 10px white,
                        0 0 10px black
                        ;
    
    -moz-box-shadow: inset 0 0 10px white,
                        0 0 10px black
                        ;
    
    background-color: #000064;
    background: -webkit-gradient(linear, left top, left bottom,
                    from(rgba(0,0,0,0.2)), 
                    to(rgba(0,0,0,0.6))
                ),
                -webkit-gradient(linear, left top, left bottom,
                    from(rgba(0,0,128,0.9)), 
                    to(rgba(0,0,128,0.9))
                );
                /*THE SHINE*//*              
                -webkit-gradient(linear, left top, left bottom,
                    from(rgba(255,255,255,0.4)),
                    color-stop(25%, rgba(255,255,255,0.5)),
                    color-stop(40%, rgba(255,255,255,0.6)),
                    color-stop(44%, rgba(255,255,255,0.5)),
                    color-stop(45%, transparent),
                    to(transparent)
                );*/
                
    text-shadow: 0 -2px 0 black;
}

#login_form {
    width: 600px;
    height: 300px;
    display: table;
    top: 30px;
    left: 20px;
    position: absolute;
}

#login_form #inputs {
    display: table-cell;
    vertical-align: middle;
}

#login_form input {
    font-size: 50px;
    width: 100%;
    border: none;
    text-align: center;
    background-color: transparent;
    border-bottom: 3px solid #888888;
    font-family: "Myriad Web Pro", "Myriad Pro", sans-serif;
    color: #CFCF00;
    text-shadow: 0 2px 0 black;
}

#login_form input:focus {
    outline: none;
    border-bottom: 3px solid white;
    font-weight: bolder;
}

#login_form input.full {
    font-weight: bolder;
}

#login_form input.placeholder {
    color: #AAAAAA;
}

#login_form input.invalid {
    border-bottom: 3px solid #AA0000;
}

.login_static {
    width: 100%;
    text-align: center;
    text-shadow: 0 1px 0 white;
    font-size: 35px;
    font-family: "Army", sans-serif;
    font-weight: bolder;
}

#login_title {
    position: absolute;
    top: 10px;
    font-family: "MEgalopolis Extra", "Army", sans-serif;
}

#login_footer {
    position: absolute;
    bottom: 10px;
    text-shadow: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
}

#login_footer a {
    color: #3F3F3F;
}

#login_footer a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 3px white;
}
